@keyframes mymove{
    from {
        top: 50px;
        height: 50px;
        
        
    }

        to{
            bottom: 1000px;
            height: 100px;

    }
}
div{
    width: 100px;
    height: 100px;
    background: red;
    position:absolute;
    animation: mymove 1s infinite;
;
    
}
