html,
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    padding:0px;
    align-items: center;
    justify-content: center;   
}
.card{
    padding: 120px 100px;
    background-color: burlywood;
    transition: 0.3s ease;

}
.card:hover {
transform:rotate(180deg);
background-color: aqua;
box-shadow: 10px 10px red;
}


